## Exercise 2 - Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives :__
- List popular data science languages
- List commonly used libraries used by Data Scientists
- List commonly used Data Science tools
- Perform basic arithmetic exercises using Python

## Exercise 4 - Create a markdown cell to list data science languages

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL
5. Java 
6. C++
7. Julia

## Exercise 5 - Create a markdown cell to list data science libraries

#### Some of the commonly used libraries used by Data Scientists include:
- Pandas 
- NumPy
- SciPy
- Matplotlib

## Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Lab|
|Apache Zeppelin|

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python
- 2+2
- 7*3
- 14-2

## Exercise 8 - Create a code cell to multiply and add numbers

In [50]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

## Exercise 9 - Create a code cell to convert minutes to hours

In [42]:
# This will convert 200 minutes to hours by diving by 60
NbMinutes <- 200
NbHours <- NbMinutes / 60
print(NbHours)

3.3333333333333335

## Exercise 10 - Insert a markdown cell to list Objectives

See cell below the introduction cell created in Exercise 3

## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
ClÃ©ment Obrador